VITE_FIREBASE_API_KEY=AIzaSyCjHfzF_FY3qxWBy2uBaVXc2h5S0ToMBQw
VITE_FIREBASE_AUTH_DOMAIN=bir-121da.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=bir-121da
VITE_FIREBASE_STORAGE_BUCKET=bir-121da.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=634337853404
VITE_FIREBASE_APP_ID=1:634337853404:web:b16dbfffbb28f21d225919